@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
}

input:focus {
  outline: none;
  border: none;
}
